@model IEnumerable<Superheroes2.Models.Superhero>

@{
    ViewBag.Title = "Index";
}

<h2>Superheroes</h2>

<div class="row">
    <div class="col-md-12">
        <img src="http://3.bp.blogspot.com/-4qvn0cmsa5o/VIEGvWS1zpI/AAAAAAAAERE/98Dgw6C064k/s1600/KrystenRitter.jpg" />
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SuperheroName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AlterEgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatchPhrase)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SuperheroName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AlterEgo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatchPhrase)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
