@model IEnumerable<Superheroes2.Models.Superhero>

@{
    ViewBag.Title = "Index";
}

<h2>Superheroes</h2>
<p>
    @Html.ActionLink("Add Your Own Superhero", "Create")
</p>
<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SuperheroName)
        </td>
        
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>

}
    
</table>
<div class="row">
    <div class="col-md-12">
        <img src="http://3.bp.blogspot.com/-4qvn0cmsa5o/VIEGvWS1zpI/AAAAAAAAERE/98Dgw6C064k/s1600/KrystenRitter.jpg" />
    </div>
</div>
